<header class="block__header">
    <h2>whats our customers are saying?</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus,
      dolores.
    </p>
  </header>
  <div class="container">
    <div class="card testimonial">
      <div class="grid grid--1x2">
        <div class="testimonial__image">
          <img src="images/testimonial.jpg" alt="smilling customer" />
        </div>
        <blockquote class="quote">
          <p class="quote_text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim
            molestias labore reiciendis eum delectus possimus, quisquam
            maiores sed fugit nesciunt, ullam cum nisi. Minima, ad.
            Necessitatibus reprehenderit expedita dolorum tempora?
          </p>
          <footer>
            <div class="media">
              <div class="media__image quote__line">
                <span class="icon icon--primary">
                  <img width="50%" src="images/line.svg" alt="" />
                </span>
              </div>
              <div class="media__body">
                <h3 class="media__title quote__author">john smith</h3>
                <p class="quote__organaization">abc compaghny</p>
              </div>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>