<div class="callout callout--primary">
  <div class="grid grid--1x2">
    <div class="callout__content">
      <h2 class="callout__heading">ready to get started?</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed fugiat ea
        aliquam iure exercitationem libero corrupti officia eius molestias,
        ipsum minus ullam voluptas harum nihil non sit esse, corporis quisquam!
      </p>
    </div>
    <a href="#" class="btn btn--secondary">get sterted</a>
  </div>
</div>
