<div class="media">
  <div class="media__image">
    <span class="icon icon--primary">
      <img width="50%" src="images/snap.svg" alt="" />
    </span>
  </div>
  <div class="media__body">
    <h3 class="media__title">Eazy to start & and managed updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit aliquam
      beatae nesciunt ipsa facilis quo nisi. Delectus tenetur tempora modi neque
      totam ex commodi voluptate eveniet, quam aut iste animi.
    </p>
  </div>
</div>
